# Ignorar arquivos e diretórios específicos do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignorar arquivos de configuração local
config.json
bet_history.json

# Ignorar arquivos de ambiente virtual
venv/
ENV/

# Ignorar arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de log
*.log
